@import 'fonts'; 
@import 'variables'; 

/*==============================================================
	Common Styles Initials
==============================================================*/
body {
  // background: $color-2;
  font-family: $font-1;
}
/*==============================================================
	Common Styles End
==============================================================*/
/*==============================================================
	Global Styles Start
==============================================================*/
nav.navbar {
  .navbar-brand {
    font-family: $font-3;
    font-size: 38px;
		color: $color-5;
  }
	.navbar-nav {
		.active {
			font-weight: 600;
		}
		.nav-link {
			text-transform: uppercase;
			&:hover::after {
				content: '';
				display: block;
				border-bottom: 3px solid $color-1;
				width: 50%;
				margin: auto;
				padding-bottom: 5px;
				margin-bottom: -8px;
			}
		}
	}
}
.jumbotron {
	margin-top: 80px;
	padding: 2rem 1rem;
	background-image: url('../images/background-2.jpg');
  background-size: cover;
	background-position: 0% 40%;
  height: 450px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	.container {
		.display-4 {
			font-family: $font-5;
			color: white;
			font-weight: 700;
			margin-top: 80px;
			font-size: 50px;
			padding: 0 20%;
		}
	}
}
.info-panel {
	margin-top: -50px;
	.card {
		border-bottom: 10px solid $color-4;
		&:hover {
			z-index: 10;
		}
		.card-body {
			.card-text {
				font-family: $font-2;
			}
			.card-title {
				font-family: $font-2;
			}
		}
	}
}
.h-scale {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.h-scale:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.tentang {
	h1 {
		font-family: $font-5;
		color: $color-5;
	}
	.tentang-content {
		background-color: $color-6;
		font-family: $font-2;
	}
}
/*==============================================================
	Global Styles End
==============================================================*/
/*==============================================================
	Login Page Start
==============================================================*/

/*==============================================================
	Login Page End
==============================================================*/
// MOBILE
@media (max-width: 992px) {
  @import 'mobile';  
}